[Unit]
Description=Business Card Printing Service

[Service]
Type=simple
WorkingDirectory=/home/pi/business_cards
ExecStart=/home/pi/business_cards/.venv/bin/python /home/pi/business_cards/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
